<div class="card">
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a href="#test4">Наличные</a></li>
      <li class="tab"><a class="active" href="#test5">Безналичные</a></li>
      <li class="tab"><a href="#test6">НБКР</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="test4">
      <table>
        <tr>
          <td>
          </td>
          <td width="45%" class=rate>
            <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
            Покупка
          </td>
          <td width="45%" class='rate'>
            <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
            <span>Продажа</span>
          </td>
        </tr>
        <% currencies.each do |currencyid| %>
          <tr>
            <td class = 'cur_sym'>
              <%= market_rates_cash["#{currencyid}"]["Code"] %>
            </td>
            <td class='rate'>
              <b>
                <% if market_rates_cash["#{currencyid}"]["BuyStatus"] == 1%>
                  <i class="material-icons red-text tiny">trending_up</i>
                <% elsif market_rates_cash["#{currencyid}"]["BuyStatus"] == -1 %>
                  <i class="material-icons blue-text tiny">trending_down</i>
                <% else %>
                  <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
                <% end %>
                <%= market_rates_cash["#{currencyid}"]["BuyRate"] %>
              </b>
            </td>
            <td class='rate'>
              <b>

                <% if market_rates_cash["#{currencyid}"]["SellStatus"] == 1%>
                  <i class="material-icons red-text tiny">trending_up</i>
                <% elsif market_rates_cash["#{currencyid}"]["SellStatus"] == -1 %>
                  <i class="material-icons blue-text tiny">trending_down</i>
                <% else %>
                  <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
                <% end %>
                <%= market_rates_cash["#{currencyid}"]["SellRate"] %>
              </b>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="test5">

      <table>
        <tr>
          <td>
          </td>
          <td width="45%" class=rate>
            <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
            Покупка
          </td>
          <td width="45%" class='rate'>
            <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
            <span>Продажа</span>
          </td>
        </tr>
        <% currencies.each do |currencyid| %>
          <tr>
            <td class = 'cur_sym'>
              <%= market_rates_noncash["#{currencyid}"]["Code"] %>
            </td>
            <td class='rate'>
              <b>
                <% if market_rates_noncash["#{currencyid}"]["BuyStatus"] == 1%>
                  <i class="material-icons red-text tiny">trending_up</i>
                <% elsif market_rates_noncash["#{currencyid}"]["BuyStatus"] == -1 %>
                  <i class="material-icons blue-text tiny">trending_down</i>
                <% else %>
                  <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
                <% end %>
                <%= market_rates_noncash["#{currencyid}"]["BuyRate"] %>
              </b>
            </td>
            <td class='rate'>
              <b>

                <% if market_rates_noncash["#{currencyid}"]["SellStatus"] == 1%>
                  <i class="material-icons red-text tiny">trending_up</i>
                <% elsif market_rates_noncash["#{currencyid}"]["SellStatus"] == -1 %>
                  <i class="material-icons blue-text tiny">trending_down</i>
                <% else %>
                  <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
                <% end %>
                <%= market_rates_noncash["#{currencyid}"]["SellRate"] %>
              </b>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div id="test6">

      <table class = "rates_table">
        <tr>
          <td width="30%" class=rate>
            Валюта
          </td>
          <td width="70%" class=rate>
            <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
            Ставка
          </td>
        </tr>
        <% currencies.each do |currencyid| %>
          <tr>
            <td class=rate style="color:#d40000;">
              <%= currency_rates["#{currencyid}"]["Code"] %>
            </td>
            <td class=rate>
              <b>
                <% if currency_rates["#{currencyid}"]["SellStatus"] == 1%>
                  <i class="material-icons red-text tiny">trending_up</i>
                <% elsif currency_rates["#{currencyid}"]["SellStatus"] == -1 %>
                  <i class="material-icons blue-text tiny">trending_down</i>
                <% else %>
                  <i class="material-icons grey-text text-lighten-4 tiny">trending_down</i>
                <%end%>
                <%= currency_rates["#{currencyid}"]["SellRate"] %>
              </b>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

